<p id="notice"><%= notice %></p>
Config = <%= @ant.inspect %>
Iteración: <%= @iteracion%>
Evaluando: <%= @evaluando%>
<br>
<p><span>Terminado!</span> Solución: <br>
  c = <%= @best[:cost]%>
  <br>
  v = <%= @best[:vector].inspect%>
</p>

<a href="/ants">Volver</a>
