<p id="notice"><%= notice %></p>

<h1>Problemas de Hormigas</h1>

<table class="tabla">
  <thead>
    <tr>
      <th>Conjunto</th>
      <th>Max iteraciones</th>
      <th>Num Hormigas</th>
      <th>Decaimiento</th>
      <th>C heur</th>
      <th>C hist</th>
      <th ><i class="fa fa-list-alt fa-2x" aria-hidden="true"></i></th>
      <th ><i class="fa fa-pencil-square-o fa-2x" aria-hidden="true"></i></th>
      <th ><i class="fa fa-line-chart fa-2x" aria-hidden="true"></i></th>
      <th ><i class="fa fa-trash fa-2x" aria-hidden="true"></i></th>
    </tr>
  </thead>

  <tbody>
    <% @ants.each do |ant| %>
      <tr>
        <td class="conjunto"><%= ant.set %></td>
        <td class="datos"><%= ant.max_it %></td>
        <td class="datos"><%= ant.num_ants %></td>
        <td class="datos"><%= ant.decay_factor %></td>
        <td class="datos"><%= ant.c_heur %></td>
        <td class="datos"><%= ant.c_hist %></td>
        <td class="datos"><%= link_to 'Mostrar', ant %></td>
        <td class="datos"> <%= link_to 'Editar', edit_ant_path(ant) %></td>
        <td class="datos"><%= link_to 'Algoritmo', "/ants/algorithm/#{ant.id}" %></td>
        <td class="datos"><%= link_to 'Eliminar', ant, method: :delete, data: { confirm: 'Esta seguro?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<%= link_to 'Nuevo problema de hormigas', new_ant_path %>
<br>
<%= link_to 'Volver', info_ant_path%>
