<%= form_for(bee) do |f| %>
  <% if bee.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(bee.errors.count, "error") %> prohibited this bee from being saved:</h2>

      <ul>
      <% bee.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :Tamaño_Problema %>
    <%= f.number_field :problem_size %>
  </div>

  <div class="field">
    <%= f.label :Espacio_Busqueda %>
    <%= f.text_field :search_space %>
  </div>

  <div class="field">
    <%= f.label :Max_Gens %>
    <%= f.number_field :max_gens %>
  </div>

  <div class="field">
    <%= f.label :Num_Abejas %>
    <%= f.number_field :num_bees %>
  </div>

  <div class="field">
    <%= f.label :Num_Sitios %>
    <%= f.number_field :num_sites %>
  </div>

  <div class="field">
    <%= f.label :Elite_Sitios %>
    <%= f.number_field :elite_sites %>
  </div>

  <div class="field">
    <%= f.label :Tamaño_Camino %>
    <%= f.number_field :patch_size %>
  </div>

  <div class="field">
    <%= f.label :e_bees %>
    <%= f.number_field :e_bees %>
  </div>

  <div class="field">
    <%= f.label :o_bees %>
    <%= f.number_field :o_bees %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
