<p id="notice"><%= notice %></p>
<h1>Problemas de Abejas</h1>
<%= image_tag("bee.jpg") %>

<table class="tabla">
  <thead>
    <tr>
      <th>Tamaño del problema</th>
      <th>Espacio de búsqueda</th>
      <th>Max gens</th>
      <th>Num Abejas</th>
      <th>Num Sitios</th>
      <th>Elite Sitios</th>
      <th>Tamaño del Patch</th>
      <th>E bees</th>
      <th>O bees</th>
      <th ><i class="fa fa-list-alt fa-2x" aria-hidden="true"></i></th>
      <th ><i class="fa fa-pencil-square-o fa-2x" aria-hidden="true"></i></th>
      <th ><i class="fa fa-line-chart fa-2x" aria-hidden="true"></i></th>
      <th ><i class="fa fa-trash fa-2x" aria-hidden="true"></i></th>
    </tr>
  </thead>

  <tbody>
    <% @bees.each do |bee| %>
      <tr>
        <td><%= bee.problem_size %></td>
        <td><%= bee.search_space %></td>
        <td><%= bee.max_gens %></td>
        <td><%= bee.num_bees %></td>
        <td><%= bee.num_sites %></td>
        <td><%= bee.elite_sites %></td>
        <td><%= bee.patch_size %></td>
        <td><%= bee.e_bees %></td>
        <td><%= bee.o_bees %></td>
        <td><%= link_to 'Mostrar', bee %></td>
        <td><%= link_to 'Editar', edit_bee_path(bee) %></td>
        <td><%= link_to 'Algoritmo', "/bees/algorithm/#{bee.id}" %></td>
        <td><%= link_to 'Eliminar', bee, method: :delete, data: { confirm: 'Esta seguro?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nuevo Problema de Abejas', new_bee_path %>
<br>
<%= link_to 'Volver', info_bee_path%>
<br>
