<p id="notice"><%= notice %></p>

<h1>Bees</h1>

<table>
  <thead>
    <tr>
      <th>Id_Problem</th>
      <th>Problem size</th>
      <th>Search space</th>
      <th>Max gens</th>
      <th>Num bees</th>
      <th>Num sites</th>
      <th>Elite sites</th>
      <th>Patch size</th>
      <th>E bees</th>
      <th>O bees</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @bees.each do |bee| %>
      <tr>
        <td><%= bee.id%></td>
        <td><%= bee.problem_size %></td>
        <td><%= bee.search_space %></td>
        <td><%= bee.max_gens %></td>
        <td><%= bee.num_bees %></td>
        <td><%= bee.num_sites %></td>
        <td><%= bee.elite_sites %></td>
        <td><%= bee.patch_size %></td>
        <td><%= bee.e_bees %></td>
        <td><%= bee.o_bees %></td>
        <td><%= link_to 'Show', bee %></td>
        <td><%= link_to 'Edit', edit_bee_path(bee) %></td>
        <td><%= link_to 'Destroy', bee, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <td><%= link_to 'Algorithm', "/bees/algorithm/#{bee.id}" %></td>
        <!--<td><%= link_to "Algorithm",  method:'algorithm'%></td>-->
        <!--<td><%= link_to "Result",bee,  method: "ant"%></td>-->
        <td><a href="/resultado/bee">Result</a></td>
        
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Bee', new_bee_path %>
<br>
<a href="/">Back</a>
