<p id="notice"><%= notice %></p>

<p>
  <strong>Tamaño del problema:</strong>
  <%= @bee.problem_size %>
</p>

<p>
  <strong>Espacio de búsqueda:</strong>
  <%= @bee.search_space %>
</p>

<p>
  <strong>Max gens:</strong>
  <%= @bee.max_gens %>
</p>

<p>
  <strong>Num Abejas:</strong>
  <%= @bee.num_bees %>
</p>

<p>
  <strong>Num Sitios:</strong>
  <%= @bee.num_sites %>
</p>

<p>
  <strong>Elite Sitios:</strong>
  <%= @bee.elite_sites %>
</p>

<p>
  <strong>Tamaño de Patch:</strong>
  <%= @bee.patch_size %>
</p>

<p>
  <strong>E bees:</strong>
  <%= @bee.e_bees %>
</p>

<p>
  <strong>O bees:</strong>
  <%= @bee.o_bees %>
</p>

<%= link_to 'Editar', edit_bee_path(@bee) %> |
<%= link_to 'Volver', bees_path %>
